body{
    margin-top: 7rem;
    max-width: 400px;
    max-height: 500px;
    background: #cceeff;
}
li{
  font-size: 2rem;
  list-style: none;
  margin-top: 2rem;
}
form{
  margin-left: 2rem;
    text-align: center;
}
h2{
    border-bottom: solid 4px;
}
h1{
  text-align: center;
}
#x{
  background-color: red;
  color: white;
  margin-right: 4rem;
  border: solid 5px;
  text-align: justify;
}
